:root {
    --book-width: 150px;
    --book-aspect-ratio: 0.75;
    --book-height: calc(var(--book-width) / var(--book-aspect-ratio))
}
.large-book {
    --book-width: 300px
}
.book-grid {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--book-width));
    gap: 1rem;
}

.book-grid img {
    max-width: var(--book-width);
    height: var(--book-height);
}

.grid-item {
    text-align: center;
}
.grid-item > div {
    margin-bottom: 1rem ;
}
.book-grid .grid-item:first-child {
    margin-left: 0;
}
.book-min-details p:first-child {
    color: white;
    margin-bottom: 0.5rem;
}

.single-book {
    display: flex;
    gap: 1rem
}

.book-full-details {
    max-width: 400px;
    margin-bottom: 2rem;
}

.detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    column-gap: 1rem; 
    margin-top: 1rem;
}
.detail > p:first-child {
    color: white;
    font-weight: bold;
}

.col {
    grid-template-columns: repeat(1, 1fr);
}
