<h2>Edit book</h2>

<form action="/books/book/<%= book._id %>?_method=PUT" method="POST">
  <%- include('./_formfields', {authors: authors, book: book}) %> 
  <br />
  <br />
  <a class="btn btn-danger" href="/books">Cancel</a>
  <button class="btn btn-primary" type="submit">Update</button>
</form>
