<h2>Create new Book</h2>

<form action="/books/new" method="POST">
  <%- include('./_formfields', {authors: authors, book: book}) %> 

  <br />
  <br />
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
