<h2>Create new Book</h2>
<br>
<form action="/books/new" method="POST">
  <%- include('./_formfields', {authors: authors, book: book}) %> 
  <a class="btn btn-danger" href="/books">Cancel</a>
  <button class="btn btn-primary" type="submit">Create</button>
</form>
