<header>
    <h1><a href="/">Zombrary</a></h1>
    <ul>
        <li>Books</li>
        <li><a href="/">Add Books</a> </li>
        <li><a href="/authors">Authors</a> </li>
        <li><a href="/authors/new">Add Author</a> </li>
    </ul>
</header>