<header>
    <h1 class="nav-header-title"><a href="/">Zombrary</a></h1>
    <ul>
        <li class="nav-item"><a href="/books" >Books</a></li>
        <li class="nav-item"><a href="/books/new">Add Books</a> </li>
        <li class="nav-item"><a href="/authors">Authors</a> </li>
        <li class="nav-item"><a href="/authors/new">Add Author</a> </li>
    </ul>
</header>