@import url(./sharedstyles/variables.css);
@import url(./sharedstyles/header.css);
@import url(./sharedstyles/book.css);
@import url(./sharedstyles/buttons.css);
@import url(./sharedstyles/forms.css);
@import url(./sharedstyles/authors.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    var(--background-color-dark),
    var(--background-color-light)
  );
  color: var(--text-color);
  font-family: sans-serif;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.filepond--panel-root {
  background-color: var(--text-color);
  color: var(--background-color-dark);
}
.filepond--label-action {
  color: var(--background-color-dark);
}
.filepond--label-action:hover {
  color: var(--background-color-light);
}
.filepond--drop-label label {
  color: var(--background-color-light);
}
.filepond--root .filepond--credits[style] {
  display: none;
}
